{% extends 'layouts/base.html' %}
{% load static %}


{% block content %}
<div id="about">
    <div class="container">
        
        {% for about in abouts %}
        <div class="row">
            <h2 class="heading ">About Me</h2>
            <div class="col-md-4">
                <img src="{{ about.image.url }}" alt="profile-img" class="img-fluid" height="100%" width="100%">
            </div>
            <div class="col-md-8">
                <p>
                    {{ about.description|safe }}
                </p>
            </div>
        </div>
        {% endfor %}
            
    </div>
</div> 
    
<!-- End #about -->


<div id="experience" class="background-alt">
    <h2 class="heading">Experience</h2>
    <div id="experience-timeline">
        
        {% for portfolio in experiences %}
 
        <div data-date="{{ portfolio.start_date|date:'F Y' }} – {{ portfolio.end_date|date:'F Y' }}">
            <h3>{{ portfolio.job_title }}</h3>
            <h4>{{ portfolio.company_name }}</h4>
            <p>
                {{ portfolio.description|safe }}
            </p>
        </div>
        {% endfor %}

    </div>
</div>
    
<!-- End #experience -->

<div id="education">
    <h2 class="heading">Education</h2>
    
    {% for portfolio in educations %}
        
    <div class="education-block">
        <h3>{{ portfolio.institute_name }}</h3>
        <span class="education-date">{{ portfolio.start_date|date:'F Y' }} – {{ portfolio.end_date|date:'F Y' }}</span>
        <h4>{{ portfolio.degree }}</h4>
        <p>
            {{ portfolio.description|safe }}
        </p>
    </div>
    {% endfor %}
    <!-- End .education-block -->
</div>
<!-- End #education -->

<div id="projects" class="background-alt">
    <h2 class="heading">Projects</h2>
    <div class="container">
        
        {% for project in projects %}
        <div class="row">
            <div class="project shadow-large">
                <div class="col-12 col-sm-12 col-md-4">
                    <div class="project-image">
                        <img src="{{ project.image.url }}" alt="project image" class="img-fluid" height="250" width="280"  />
                    </div>
                </div>

                <!-- End .project-image -->
                <div class="project-info col col-sm col-md">
                    <h3>{{ project.title }}</h3>
                    <p>
                        {{ project.description|safe }}
                    </p>
                    <a href="{{ project.link }}">View Project</a>
                </div>
                <!-- End .project-info -->
            </div>

            <!-- End .project -->
        </div>
        {% endfor %}
            

    </div>
</div>
<!-- End #projects -->

<div id="skills">
    <h2 class="heading">Skills</h2>
    <ul>
        
        {% for skill in skills %}
        <li>{{ skill.title }}</li>
        {% endfor %}
            
    </ul>
</div>
<!-- End #skills -->

<div id="contact">
    <h2>Get in Touch</h2>
    <div id="contact-form">
        <form method="POST" action="https://formspree.io/f/mjvpjzjk">
            <input type="email" name="_replyto" placeholder="Your email" required>
            <input type="text" name="_subject" placeholder="Subject" required>
            <textarea name="message" placeholder="Your message" required></textarea>
            <button type="submit" >Send</button>
        </form>
    </div>
    <!-- End #contact-form -->
</div>
{% endblock content %}
    